html {
    min-height: 100%;
    background: white;


}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    align-items: center;
}

li {
    flex: 1 1 auto;
    display: inline;

}

#foot {
    flex:initial;
    align-items: center;
    justify-content: center;
    padding: 10px;
}



body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    flex-flow: column;
    height: 100%;
    
}

.header {
    height: 72px;
    box-shadow: 3px 5px 30px rgba(0,0,0.06);
    background-color: rgba(5, 114, 134, 0.75);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-left: 30px;
    

}


.headItem {
    margin: 25px;
}

.headItem :hover {
    box-shadow: 3px 3px 5px black;
    border: 1px solid rgb(0, 0, 0);
}

.content {
    align-items:stretch;
    justify-content: center;
    display: flex;
    flex-flow: row ;
    margin: 30px;
    flex-grow: 1;
    
    
}

.sidebar {
    width: 33%;
    position: sticky;
    top: 20px;
    border-radius: 10px;
    background: rgb(119, 119, 119);
    padding: 15px;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-right: 10px;
}

.postings {
    border-radius: 10px;
    background-color: rgba(5, 114, 134, 0.75);
    
    display: flex;
    flex-flow: column;  
    padding: 20px;
    padding-left: 15px;
    width: 66%;

}

.postTitle {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
}

.post {
    width: 90   ;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0.06);
    border-radius: 10px;
    font-size: x-large;
    flex-flow: column;
    
}

.postings :hover {
    box-shadow: 3px 3px 5px black;
}
.post :hover {
    box-shadow: 0px 0px 0px black;
}



.postBody {
    padding-left: 10px;
    font-size: medium;
}

.search-container {
    display:flex;
    align-items: center;
}


.forms {
    margin-top: 1%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 60%;
    padding: 10px;
    flex-flow: row;

}

#ulforms {
    padding: 10px;
}

.label {
    font-size: 15pt;
}

textarea {
    width: 100%;
    box-sizing: border-box;
}

input[type=text], input[type=password], textarea {
    text-align: left;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #ccc;
    box-sizing: border-box;
}


footer {
    background-color: grey;
    text-align: center;
    width: fill;

}

#search {
    width: 95%;
    margin: 0px;
    border-radius: 10px;

}

.padding {
    padding: 10px;
}

.spyglass{
    width: 100%;
}

#searchSubmit{
    border-radius: 10px;
    border-width: 0px;
    cursor: pointer;
}

#searchSubmit :hover {
    background-color: rosybrown;
}
#searchSubmit :active {
    background-color: brown;
}

